
body {
  background-image: url('IMAGES\universo.gif'); 
  background-repeat: repeat;
}

.container {  
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.About { grid-area: 2 / 3 / 6 / 8; background-color: rgb(130, 130, 130);}

.Visit { grid-area: 2 / 11 / 4 / 13; background-color: rgb(130, 130, 130);}

.Quotes { grid-area: 5 / 10 / 9 / 13; background-color: rgb(130, 130, 130);}

.Comments { grid-area: 10 / 9 / 17 / 13; background-color: rgb(130, 130, 130);}

.Interests { grid-area: 7 / 3 / 10 / 7; background-color: rgb(130, 130, 130);}

.Games { grid-area: 12 / 3 / 16 / 8; background-color: rgb(130, 130, 130);}

.Links { grid-area: 1 / 1 / 20 / 2; background-color: rgb(130, 130, 130);}

.Site Links { grid-area: 2 / 1 / 11 / 2; background-color: rgb(130, 130, 130);}

.Other Links { grid-area: 11 / 1 / 20 / 2; background-color: rgb(130, 130, 130);}

.Art { grid-area: 22 / 1 / 29 / 5; background-color: rgb(130, 130, 130);}

.Piano { grid-area: 30 / 6 / 33 / 13; background-color: rgb(130, 130, 130);}

.StaticArt2 { grid-area: 26 / 6 / 29 / 8; background-color: rgb(130, 130, 130);}

.Fun Button { grid-area: 22 / 6 / 25 / 8; background-color: rgb(130, 130, 130);}

.StaticArt1 { grid-area: 18 / 12 / 24 / 14; background-color: rgb(130, 130, 130);}

.Music { grid-area: 17 / 3 / 21 / 7; background-color: rgb(130, 130, 130);}

.Chalkboard { grid-area: 18 / 8 / 29 / 12; background-color: rgb(130, 130, 130);}

.StaticArt3 { grid-area: 24 / 12 / 29 / 14; background-color: rgb(130, 130, 130);}

.SOmehting Cool { grid-area: 31 / 1 / 32 / 5; background-color: rgb(130, 130, 130);}

.Somehting else cool { grid-area: 3 / 9 / 4 / 10; background-color: rgb(130, 130, 130);}

.another cool thing { grid-area: 7 / 8 / 9 / 9; background-color: rgb(130, 130, 130);}

.Footer { grid-area: 33 / 1 / 35 / 14; background-color: rgb(130, 130, 130);}