body {
  background: black;
  color: lime;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
  
  cursor : url('https://example.com/cursor.png'), auto; /* Custom cursor */
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.fancy-box {
  border: 2px solid #00ff99;
  padding: 1rem;
  margin: 0;
  box-shadow: 0 0 10px #7700ff;
}


.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-size: 22px;
  color: #00ff99;
  text-shadow: 0 0 6px #00ff99;
}


.site-links {
  display: flex;
  flex-direction: column;
}

.site-links a {
  color: yellow;
  text-decoration: none;
  margin: 0 10px;
}

.site-links a:hover {
  text-shadow: 0 0 4px yellow;
}

.links {
  display: flex;
  flex-direction: column; 
}

main img {
  margin-top: 1rem;
  max-width: 100%;
}





.about {}

.interests {}

.games{
  align-items: left;
}


.visit-counter {}

.quotes {}

.comment-box {}


.music {}

.dynamic-art {}

.surprise {}

.art {}


.drawboard {}

.window {}


.piano {}











footer {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #777;
}



.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}