body {
  margin: 0;
  padding: 0;
  background: url('IMAGES/universo.gif');
  background-repeat: repeat;
  display: flex;
  justify-content: center;
}

.container {
  width: 60%;
  max-width: 1200px;
  background: url('IMAGES\1000021431_Glitch.jpg');
  background-repeat: repeat;
  justify-content: center;
}

.Top {    
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;}

.Links {
  width: 20%;
  padding: 10px;
  background-color: #f1f1f1;
  margin-right: 10px;
  border-radius: 10px;
}

.Site-Links{

  padding: 10px;
  background-color: #6d6d6d;
  margin-right: 10px;
  border-radius: 10px;
}

.Other-Links{
  padding: 10px;
  background-color: #702f2f;
  margin-right: 10px;
  border-radius: 10px;
}

.Middle {
  width: 60%;
  padding: 10px;
  background-color: #4597c6;
  margin-right: 10px;
  border-radius: 10px;
}

.About {
  padding: 10px;
  background-color: #b1af21;
  margin-right: 10px;
  border-radius: 10px;
}

.Interests {
  padding: 10px;
  background-color: #811f91;
  margin-right: 10px;
  border-radius: 10px;
}

.Games {
  padding: 10px;
  background-color: #00ffbb;
  margin-right: 10px;
  border-radius: 10px;
} 



.Right {
  width: 20%;
  padding: 10px;
  background-color: #adffac;
  margin-right: 10px;
  border-radius: 10px;
}

.Visit {
  padding: 10px;
  background-color: #645a00;
  margin-right: 10px;
  border-radius: 10px;
}

.Quotes {
  padding: 10px;
  background-color: #593bff;
  margin-right: 10px;
  border-radius: 10px;
}

.Comments {
  padding: 10px;
  background-color: #830c7f;
  margin-right: 10px;
  border-radius: 10px;
}

.block-1 {
  display: flex;
  justify-content: space-between;
}

.block-1-left {
}

.Music {
  width: 100%;
  padding: 10px;
  background-color: #cd8dff;
  margin-right: 10px;
  border-radius: 10px;
}

.Art{
  width: 100%;
  padding: 10px;
  background-color: #ff0000;
  margin-right: 10px;
  border-radius: 10px;
}

.block-1-middle {
}

.Fun-Button {
  padding: 10px;
  background-color: #1e00ff;
  margin-right: 10px;
  border-radius: 10px;
}

.StaticArt3 {
  padding: 10px;
  background-color: #ff7300;
  margin-right: 10px;
  border-radius: 10px;
}



.block-1-right {
  display: flex;
  justify-content: space-between;
}

.Chalkboard {
  padding: 10px;
  background-color: #3cff00;
  margin-right: 10px;
  border-radius: 10px;
}

.StaticArt1-2 {
  padding: 10px;
  background-color: #ffea00;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


.block-2 {
  display: flex;
  flex-direction: row;
}

.Something-Cool {
  padding: 10px;
  background-color: #ff00dd;
  margin-right: 10px;
  border-radius: 10px;
}

.Something-else-cool {
  padding: 10px;
  background-color: #813e51;
  margin-right: 10px;
  border-radius: 10px;
}

.block-3 {
  display: flex;
  justify-content: space-between;
}

.another-cool-thing {
  width: 100%;
  padding: 10px;
  background-color: #b7cc79;
  margin-right: 10px;
  border-radius: 10px;
}

.Piano {
  width: 100%;
  padding: 10px;
  background-color: #7f533b;
  margin-right: 10px;
  border-radius: 10px;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
  text-align: center;
}


@media (max-width: 768px) {
  .Top {
      flex-direction: column;
      align-items: center;
  }
  
  .Links, .Middle, .Right {
      width: 100%;
      margin-bottom: 10px;
  }
}